*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}
/* start header section */
#topfixed{
    background-color: #FF6900;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


#nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;  
}

/* 3 link top left */

#type>a{
    text-decoration: none;
    color: white;
}

#type{
    text-wrap: nowrap;
}

/* logo top-center */

#logo{
    display: flex;
    justify-content: center;
}

#logo>img{
    height: auto; 
    width: 20%;
}

/* 3 iicons top right */

#action{
    display: flex;
    gap: 1em;
}

/* end header section */




/* start main section */

main{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10vh;
    flex-wrap: wrap;
}

.card{
    margin-bottom: 10%;
}

.img img{
    width: auto;
    height: 500px;
}

.img:hover .imghidden{
    visibility: visible;
}


.imghidden{
 position: absolute;
 left: 0;
 visibility: hidden;
}


.img{
    position: relative;
}


.tag{
    position: absolute;
    left: 0px;
    bottom: 12%;
    width: 100%;
    height: auto;

}


.heart{

    width: 40px;
    height: 40px;
    position: absolute;
    top: 3%;
    right: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart>svg:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(5845%) hue-rotate(359deg) brightness(102%) contrast(112%);
}

.info{
    display: flex;
    flex-direction: column;
}

.sale{
    background-color: red;
    color: white;
    padding: 1% 3%;
    font-size: 13px;
}
.sustainability{
    background-color: green;
    color: white;
    padding: 1% 3%;
    font-size: 13px;
}

.brand{
    font-size: 13px;
}

.name{
    font-weight: bold;
}

.price{
    color: red;
    font-size: 13px;
}

.oldprice{
    color: black;
    text-decoration: line-through;
}



/* end main section */


/* start footer section */



footer{
    width: 100%;
    background-color: #202020;
    color: white;
}

#foot{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 0;

}

#social>a{
    text-decoration: none;
    color: white;
    padding: 2px;
}

#legal>a{
    text-decoration: none;
    color: white;
    font-size: 11px;
}

#link>span{
    margin-left: 1em;
    font-size: 12px;
}

#link{
    line-height: 1em;
}
